
.text-field{
//-fx-border-radius:10;
//-fx-border-color:"#104173";
//-fx-border-width:2;
-fx-background-color:white;
-fx-font-size:14;
}
/*
.button{
-fx-background-color:white ;
}

.line{
-fx-stroke:"#EFEFEF";
-fx-stroke-width:10;
}