
.text-field{
//-fx-border-radius:10;
//-fx-border-color:"#104173";
//-fx-border-width:2;
-fx-background-color:white;
-fx-font-size:14;
}
.button{
-fx-background-color:white ;
}

.line{
-fx-stroke:"#EFEFEF";
-fx-stroke-width:10;
}
.default-color0.chart-pie { -fx-pie-color: #184173; }
.default-color1.chart-pie { -fx-pie-color: #B7B5B5; }
.default-color2.chart-pie { -fx-pie-color: #F1C53C; }


.default-color0.chart-bar { -fx-bar-fill: #184173; }
